.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 400px;
  margin: 40px auto;

  padding: 2rem;

  border-radius: 12px;

  background-color: var(--card-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  h1 {
    margin-bottom: 1rem;

    color: var(--accent-color);
    text-align: center;
    font-size: 2rem;
  }

  input {
    padding: 10px;

    border: 1px solid var(--accent-color);
    border-radius: 8px;

    background-color: var(--background-color);

    font-size: 1rem;
    color: var(--text-color);
  }

  .submit-button {
    padding: 0.8rem;

    border: none;
    border-radius: 0.5rem;

    background-color: var(--accent-color);

    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: var(--text-color);

    cursor: pointer;

    transition: background-color 0.5s ease;

    &:hover {
      background-color: var(--active-color);
    }
  }

  .form-switcher {
    align-self: flex-end;

    margin-right: 0.4rem;

    padding: 0.5rem;

    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;

    &:hover {
      color: var(--active-color);
    }
  }
}
