.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  padding-right: 2rem;

  background-color: #121212;

  font-weight: 800;
  font-size: 2rem;
  text-align: center;

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Parisienne";

    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--not-important-color);

    &:hover {
      color: var(--active-color);
    }
  }

  .header-icons {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-left: auto;

    span {
      max-height: 2.25rem;
    }

    svg {
      cursor: pointer;
      transition: color 0.3s ease;
      color: var(--not-important-color);

      &:hover {
        color: var(--active-color);
      }
    }
  }
}
