@import "./variables.css";
@import "./header.css";
@import "./search-form.css";
@import "./lots-list.css";
@import "./lot-page.css";
@import "./add-edit-lot-page.css";
@import "./user-page.css";
@import "./edit-profile-page.css";
@import "./auth-form.css";
@import "./rounded-timer.css";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;600&&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Sofia+Sans:wght@800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap"); */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: var(--font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.information-block {
  align-self: center;
  justify-self: center;

  width: 12rem;
  min-height: 2rem;
  height: auto;

  margin-top: 5rem;

  padding: 1rem;

  border-radius: 0.8rem;

  text-align: center;
  font-size: 1.5rem;
  background-color: var(--card-color);
}

.error-wrapper {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;

  &.show {
    max-height: 100px;
    opacity: 1;
  }

  .input-error {
    margin-left: 0.5rem;

    color: var(--error-text-color);
    font-size: 0.9rem;
  }

  .error-network {
    margin-top: 0.5rem;

    color: var(--error-text-color);
    font-size: 1.1rem;
    text-align: center;
  }
}
