.lots-list {
  --elem-width: 60rem;

  max-width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;

  h1 {
    width: 100%;

    margin-bottom: 1rem;
    text-align: center;
  }

  ul {
    list-style: none;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 100%;
    margin: 1rem auto;
  }

  button {
    margin: 0.5rem;
    padding: 10px;

    border: none;
    border-radius: 0.3rem;

    background-color: var(--card-color);
    color: var(--text-color);
    font-family: var(--font);
  }

  .active {
    background-color: var(--secondary-text-color);
  }

  .lot {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;

    max-width: var(--elem-width);

    margin-bottom: 1rem;
    padding: 1rem;

    border-radius: 0.6rem;
    background-color: var(--card-color);
  }

  .gallery,
  .gallery-placeholder {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1; /* Элемент растёт, заполняя доступное пространство */
    flex-shrink: 1; /* Элемент сжимается, если не хватает места */
    flex-basis: 30rem; /* Базовая (начальная) ширина до распределения свободного места */

    width: 100%;
    max-width: 30rem;
    height: 30rem;

    border-radius: 0.5rem;
    background-color: var(--card-color);
  }

  .gallery-placeholder {
    flex-direction: column;

    text-align: center;
    color: #aaaaaa;
    font-size: 1.2rem;

    svg {
      width: 6rem;
      height: 6rem;
      margin-bottom: 0.5rem;
    }
  }

  .gallery-image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      object-position: center;

      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      border-radius: 0.5rem;
    }
  }

  .gallery-controls {
    display: flex;
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;
    transform: translateY(-50%);

    justify-content: space-between;
    pointer-events: none;

    button {
      pointer-events: auto;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 0.6rem;
      border: none;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      font-size: 1.2rem;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }

    button:focus {
      outline: none;
    }
  }

  .lot-info {
    flex: 1;
    width: 100%;

    h2 {
      margin-bottom: 1.5rem;
      font-size: 2rem;
      color: var(--accent-color);

      cursor: pointer;
    }

    .price {
      margin-bottom: 1.5rem;
    }

    .dollar-price {
      display: inline;

      margin-right: 1rem;

      font-size: 1.5rem;
      color: var(--accent-color);
    }

    .uah-price {
      display: inline;

      font-size: 1.2rem;
    }

    .info-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }

    .description {
      grid-column: span 2;

      word-wrap: break-word;
    }

    .lot-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      margin-top: 8.5rem;

      .postdate {
        font-size: 0.9rem;
        color: var(--secondary-text-color);
      }

      .like-button {
        font-size: 2.2rem;
        cursor: pointer;
      }

      .contact {
        width: 160px;
        height: 70px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .lots-list {
    max-width: 100%;
    padding: 0.5rem;
  }

  .lot {
    flex-direction: column;
    align-items: center;
  }

  .gallery,
  .gallery-placeholder {
    max-width: 100%;
    height: auto; /* чтобы подстраивалось */
    aspect-ratio: 1 / 1; /* квадратная форма без фиксированной высоты */
  }

  .lot-info {
    width: 100%;
  }

  .info-grid {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-controls button {
    font-size: 1rem;
    padding: 0.4rem;
  }
}
