.search-form {
  --elem-width: 20rem;
  max-width: 50%;
  margin: 1rem auto;
  padding: 1rem;

  box-sizing: border-box;
  overflow: hidden;
}

.search-form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.search-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.search-form-item:last-child {
  grid-column: 2;
  width: 60%;
  margin-left: auto;
}

.search-form {
  input,
  select,
  button {
    width: 100%;
    padding: 15px 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--card-color);
    color: var(--text-color);
    font-size: 20px;
  }

  label {
    padding: 10px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px;
  }

  .combo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    width: 100%;
  }

  .combo-input {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
  }

  option {
    color: var(--text-color);
  }

  button {
    transition: 300ms ease;
  }

  button:active {
    background-color: var(--accent-color);
  }

  button:hover {
    transform: scale(1.02);
  }
}

@media (max-width: 768px) {
  .search-form {
    max-width: 100%;
    padding: 0.5rem;

    .combo {
      flex-direction: column;
    }
  }

  .search-form-grid {
    grid-template-columns: 1fr;
  }

  .search-form-item {
    margin-bottom: 0;
  }

  .search-form-item:last-child {
    grid-column: auto;
    width: 100%;
    margin-left: 0;
  }

  .search-form {
    input,
    select,
    button {
      font-size: 16px;
      padding: 12px 8px;
    }

    label {
      font-size: 16px;
    }
  }
}
