.user-profile {
  max-width: 900px;

  margin: 0 auto;
  padding: 20px;

  .user-avatar {
    object-fit: cover;
    flex-shrink: 0;

    width: 100px;
    height: 100px;

    border-radius: 50%;
  }

  .placeholder-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eee;
    color: #999;
    border: 2px dashed #ccc;
  }
}

.profile-header {
  display: flex;
  align-items: flex-start;
  gap: 24px;

  padding-bottom: 24px;
  border-bottom: 1px solid var(--not-important-color);
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 8px;
  align-items: left;

  h1 {
    grid-column: 1 / -1;
    margin-bottom: 12px;
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-size: 1.2rem;
  }
}

.lots-section {
  margin: 32px 0;

  h2 {
    margin-bottom: 1rem;
  }

  .empty-lots {
    display: flex;
    flex-direction: column;
    gap: 10px;

    min-height: 170px;

    align-items: center;
    justify-content: center;

    color: var(--secondary-text-color);
    font-size: 1rem;
  }

  .lots-scroll-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .lots-list-scrollable {
    display: flex;
    gap: 1rem;

    padding: 1rem 0;

    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .lots-scroll-button {
    padding: 6px 12px;

    border: none;
    border-radius: 50%;

    background: var(--card-color);
    color: var(--accent-color);
    font-size: 2rem;

    z-index: 1;
    cursor: pointer;

    transition: var(--card-color) 0.2s;
  }

  .lots-scroll-button:hover {
    background-color: var(--active-color);
    color: var(--text-color);
  }

  .lots-scroll-left {
    margin-right: 0.5rem;
  }

  .lots-scroll-right {
    margin-left: 0.5rem;
  }
}

.lots-list-scrollable::-webkit-scrollbar {
  height: 8px;
}

.lots-list-scrollable::-webkit-scrollbar-track {
  background: var(--background-color);
}

.lots-list-scrollable::-webkit-scrollbar-thumb {
  background-color: var(--not-important-color);
  border-radius: 4px;
}

/* Firefox */
.lots-list-scrollable {
  scrollbar-color: var(--not-important-color) var(--background-color);
  scrollbar-width: thin;
}

.mini-lot-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 160px;

  background-color: var(--card-color);
  border-radius: 12px;

  overflow: hidden;

  color: var(--text-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .lot-title {
    min-height: 44px;

    padding: 8px 4px 4px;

    color: var(--accent-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  .lot-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;

    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .placeholder-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    color: var(--not-important-color);
  }

  .lot-price {
    margin: 8px 0 12px;

    color: var(--accent-color);
    font-size: 1rem;
    font-weight: 500;
  }
}

.redirect-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  /* .circle {
    transform: rotate(-90deg);
  } */
}
